python-dotenv==1.0.0
websocket-client==1.6.1
termcolor==2.4.0
flask-classful==0.16.0
tenacity==8.2.3
rel==0.4.9.1
pinatapy-vourhey==0.2.0
IPFS-Toolkit==0.5.23
colorama==0.4.6
openai==1.70.0
robonomics-interface==1.6.1
PyJWT==2.3.0